# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!example.tfvars

# Secrets
.env
.env.*
*.pem
*.key
*.p12
*.pfx

# SSH
.ssh/

# Kubernetes
kubeconfig
kubeconfig.*
*.kubeconfig

# Ansible
*.retry

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
